/* -----------Colours and Styling--------------*/

.main {
  background-color: #000;
}

.info-text {
  color: #fff;
  font-family: Circular, Helvetica, Arial, sans-serif, IosFix;
}

i {
  color: #1ed760;
}

a {
  color: #fff;
}

a:hover {
  color: #1ed760;
}

a:link {
  text-decoration: none;
  color: #fff;
}

.modal-content {
  background-color: #333;
  color: #fff;
}

h1,
h2 {
  text-align: center;
}

h5 {
  color: #1ed760;
}

.nav-bar {
position: relative; 
  background-color: #333;
  box-shadow: 2px 2px 2px 2px #333;
  z-index: 2; 
}

.vs {
  color: #fff;
}

.footer {
  background-color: #333;
}

.footer-text {
  font-family: Circular, Helvetica, Arial, sans-serif, IosFix;
  color: #fff;
  text-align: center;
}
/* -----------Home Page--------------*/

.battle {
  position: relative;
}

.battle-text {
  position: absolute;
  text-align: center;
  color: #fff;
  font-weight: 900;
  letter-spacing: -0.02em;
  line-height: 1.2;
  margin-bottom: 30px;
  top: 60%;
  left: 10%;
  right: 10%;
  font-family: Circular, Helvetica, Arial, sans-serif, IosFix;
}
.battle-text-mobile {
  text-align: center;
  color: #fff;
  font-weight: 900;
  letter-spacing: -0.02em;
  line-height: 1.2;
  margin-bottom: 30px;
  font-family: Circular, Helvetica, Arial, sans-serif, IosFix;
}

.battle-button {
  position: absolute;
  padding: 16px 40px 16px;
  line-height: 16px;
  letter-spacing: 1.4px;
  border-radius: 500px;
  margin-left: 10%;
  margin-right: 10%;
  top: 80%;
  left: 30%;
  right: 30%;
  z-index: 2;
}

.info,
.playlist {
  margin-top: 30px;
  background-color: #333;
  padding: 5px;
  text-align: center;
}

.header {
  position: relative;
  top: 15px;
  width: 100%;
  text-align: center;
  color: #1ed760;
  font-weight: 900;
  letter-spacing: -0.02em;
  line-height: 1.2;
  margin-bottom: 30px;
  font-family: Circular, Helvetica, Arial, sans-serif, IosFix;
}

/* -----------Battle Page--------------*/
#artistImage1 {
    /* position: relative; */
  width: 100%;
  z-index: -1;
}

#artistImage2 {
    /* position: relative; */
  width: 100%;
  z-index: -1;
}

#artistImage1:hover,
#artistImage2:hover {
  opacity: 0.6;
  transition: opacity 1s;
}

span {
  display: none;
  color: white;
}

.counter {
  color: black;
  font-size: 14px;
}

.artist-box {
    position: absolute;
  padding: 2em;
  border: 1px solid #ccc;
  display: block;
  width: 50%;
  float: left;
  margin: -1px 0 0 -1px;
  color: black;
  background: linear-gradient(white, white 50%, #333 50%, #333);
  background-size: 100% 202%;
  transition: all 0.2s ease;
  animation: down-bump 0.7s ease;
  z-index: 1;
}

.artist-box:hover {
  background-position: 100% 100%;
  animation: up-bump 0.7s ease;
}

.artist-box:hover h2 {
  color: #1ed760;
}
.artist-box:hover p {
  color: white;
}

.box-position-1 {
  position: absolute;
  left: 15px;
}

.box-position-2 {
  position: absolute;
  right: 15px;
}

.modal-footer {
  border-top: none;
}

.scores {
  color: #fff;
  position: absolute;
  left: 20%;
  top: 10%;
  font-family: Circular, Helvetica, Arial, sans-serif, IosFix;
  font-weight: 900;
  letter-spacing: -0.02em;
  line-height: 2;
}
.highScores {
  color: #fff;
  position: absolute;
  left: 20%;
  top: 50%;
  font-family: Circular, Helvetica, Arial, sans-serif, IosFix;
  font-weight: 900;
  letter-spacing: -0.02em;
  line-height: 2;
}

#score,
#highScore {
  display: inline;
  color: #1ed760;
}

.reset {
  top: 30%;
  right: 10%;
  padding: 10px 25px 10px;
  line-height: 16px;
  letter-spacing: 1.4px;
  border-radius: 500px;
  position: absolute;
  background-color: #1bc156;
  color: #fff;
  font-family: Circular, Helvetica, Arial, sans-serif, IosFix;
  /* margin-left: 10%;
  margin-right: 10%; */
}
/* -----------Media Queries--------------*/

@media only screen and (min-width: 992px) {
  .battle-photo {
    opacity: 0.6;
    width: 80vw;
    z-index: -1;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .battle-photo {
    opacity: 0.6;
    width: 90vw;
    z-index: -1;
  }
  .battle-text {
    top: 50%;
    left: 15%;
    right: 15%;
  }
  .battle-button {
    top: 75%;
    left: 25%;
    right: 25%;
  }
  .reset {
    top: 35%;
    right: 5%;
    padding: 5px 15px 5px;
  }
  .scores, .highScores {
      left: 10%;
  }
}

@media only screen and (max-width: 767px) {
  .battle-photo {
    opacity: 0.6;
    width: 90vw;
  }
  .battle-button {
    top: 70%;
    left: 5%;
    right: 5%;
  }
}
