/* -----------Colours // Styling // Positioning--------------*/

body {
  color: #fff;
  font-family: Circular, Helvetica, Arial, sans-serif, IosFix;
  font-weight: 900;
  letter-spacing: -0.02em;
}

.main {
  background-color: #000;
}

.info-text {
  font-weight: 400;
  padding: 10px;
  text-indent: 25px;
}

h1,
h2 {
  text-align: center;
}

i,
h5,
a:hover {
  color: #1ed760;
}

a {
  color: #fff;
}

a:link {
  text-decoration: none;
  color: #fff;
}

.modal-content {
  background-color: #333;
  color: #fff;
}

.nav-bar {
  position: relative;
  background-color: #333;
  box-shadow: 2px 2px 2px 2px #333;
  z-index: 2;
}

.vs {
  text-align: center;
  position: relative;
}

.vs-photo {
  width: 40%;
  left: 15%;
  right: 15%;
}

.footer {
  background-color: #333;
  position: relative;
  bottom: 0;
  padding-bottom: 5px;
  box-shadow: 2px 2px 2px 2px #333;
}

.footer-text {
  text-align: center;
  padding-top: 20px;
}
/* -----------Home Page--------------*/

.battle {
  position: relative;
}

.battle-text {
  position: absolute;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 30px;
  top: 60%;
  left: 10%;
  right: 10%;
}

.battle-text-mobile {
  text-align: center;
  line-height: 1.2;
  margin-bottom: -15px;
  margin-top: 10px;
}

.battle-button {
  position: absolute;
  padding: 16px 40px 16px;
  line-height: 16px;
  letter-spacing: 0.8px;
  border-radius: 500px;
  margin-left: 10%;
  margin-right: 10%;
  top: 80%;
  left: 30%;
  right: 30%;
  z-index: 2;
}

.info,
.playlist {
  margin-top: 30px;
  background-color: #333;
  padding: 5px;
  margin-bottom: 5%;
}

.header {
  position: relative;
  top: 15px;
  width: 100%;
  font-weight: 900;
  text-align: center;
  color: #1ed760;
  line-height: 1.2;
  margin-bottom: 30px;
}

/* -----------Battle Page--------------*/
#artistImage1 {
  width: 100%;
}

#artistImage2 {
  width: 100%;
  margin-bottom: 10%;
}

#artistImage1:hover,
#artistImage2:hover {
  opacity: 0.6;
  transition: opacity 1s;
}

span {
  display: none;
}

.counter {
  color: black;
  font-weight: 400;
  font-size: 14px;
}

.artist-box {
  position: absolute;
  padding: 2em;
  border: 1px solid #ccc;
  display: block;
  width: 50%;
  float: left;
  margin: -1px 0 0 -1px;
  color: black;
  background: linear-gradient(white, white 50%, #333 50%, #333);
  background-size: 100% 202%;
  transition: all 0.4s ease;
  animation: down-bump 0.7s ease;
  z-index: 1;
}

.artist-box:hover {
  background-position: 100% 100%;
  animation: up-bump 0.7s ease;
}

.artist-box:hover h2 {
  color: #1ed760;
}
.artist-box:hover p {
  color: white;
}

.box-position-1 {
  position: absolute;
  left: 15px;
}

.box-position-2 {
  position: absolute;
  right: 15px;
}

.modal-footer {
  border-top: none;
}

.scores {
  position: absolute;
  left: 20%;
  top: 10%;
  line-height: 2;
}

.highScores {
  position: absolute;
  left: 20%;
  top: 50%;
  line-height: 2;
}

#score,
#highScore {
  display: inline;
  color: #1ed760;
}

.reset {
  top: 30%;
  right: 10%;
  padding: 10px 25px 10px;
  line-height: 16px;
  letter-spacing: 1.4px;
  border-radius: 500px;
  position: absolute;
  background-color: #1bc156;
  color: #fff;
}
/* -----------Media Queries--------------*/

@media only screen and (min-width: 992px) {
  .battle-photo {
    opacity: 0.6;
    width: 80vw;
    z-index: -1;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  /* Tablet Sizes */
  .battle-photo {
    opacity: 0.6;
    width: 90vw;
    z-index: -1;
  }
  .battle-text {
    top: 50%;
    left: 15%;
    right: 15%;
  }
  .battle-button {
    top: 75%;
    left: 25%;
    right: 25%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .reset {
    top: 35%;
    right: 5%;
    padding: 5px 15px 5px;
  }
  .scores,
  .highScores {
    left: 10%;
  }
  .counter {
    font-size: 16px;
  }
}

@media only screen and (max-width: 767px) {
  /* Phone Sizes */
  .artist-box {
    width: 93%;
  }
  img {
    margin-top: 20%;
  }
  .battle-photo {
    opacity: 0.6;
    width: 90vw;
  }
  .battle-button {
    top: 70%;
    left: 12%;
    width: 76%;
    margin: 0;
    padding: 13px 15px 13px;
  }
  h1 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  .reset {
    position: relative;
    left: 40%;
    top: 0;
    margin-bottom: 15px;
  }
  .scores {
    left: 10%;
    top: 45%;
  }
  .highScores {
    left: 10%;
    top: 65%;
  }
  p {
    margin-bottom: -0.5rem;
  }
}
